.notes-list {
  padding-top: calc(51px + 8px); /* offset header */
  padding-bottom: calc(78px + 18px); /* offset nav */
  padding-right: 18px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--pale-purple);
}