.keyboard-container {
    position: fixed;
    bottom: var(--phone-black-vertical-padding);
    width: var(--phone-width);
    height: fit-content;
    overflow: hidden;
    z-index: 9999;
}

#keyboard {
    background: var(--gray);
    width: var(--phone-width);
    position: relative;
    top: 100%;
    /* transform: translateY(-100%); */
    transform: translateY(-100%);
    transition: ease-in-out 300ms;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 28px;
    display: flex;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: calc(var(--phone-width) - 8px);
}

kbd {
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    background-color: white;
    width: 32px;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 0;
    box-shadow: 0 1.5px 1px var(--black-25);
}

.kbd-wider {
    width: 52px;
}

.kbd-space {
    width: 108px;
    font-size: 17px;
}

.kbd-switchToNum {
    font-size: 17px;
}

.kbd-dark-blue {
    background-color: var(--dark-blue);
    color: white;
}

.kbd-vibrant-pink {
    background-color: var(--vibrant-pink);
    color: white;
}

kbd img {
    height: calc(100% - 6px);
    max-height: 20px;
    max-width: calc(100% - 6px);
}

.black-keyboard-cover {
    width: var(--phone-width);
    height: var(--phone-black-vertical-padding);
    position: fixed;
    bottom: 0;
    background-color: black;
}