.keyboard-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    overflow: clip;
    z-index: 9999;
    box-shadow: 0 0 60px white;

    /* Base key width */
    --base-key-width: calc(100vw / 12);
    --base-key-gap: calc(100vw / 12 / 8);
}

#keyboard {
    background: var(--gray);
    width: 100%;
    transform: translateY(100%);
    transition: ease-in-out 300ms;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 28px;
    display: flex;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    gap: var(--base-key-gap);
    max-width: calc(100% - 8px);
}

kbd {
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    background-color: white;
    /* width: 32px; */
    width: var(--base-key-width);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 0;
    box-shadow: 0 1.5px 1px var(--black-25);
}

.kbd-wider {
    /* width: 52px; */
    width: calc(var(--base-key-width) * 1.5 + var(--base-key-gap) * 0.5);
}

.kbd-space {
    /* width: 108px; */
    width: calc(var(--base-key-width) * 3 + var(--base-key-gap) * 2);
    font-size: 17px;
}

.kbd-switchToNum {
    font-size: 17px;
}

.kbd-dark-blue {
    background-color: var(--dark-blue);
    color: white;
}

.kbd-vibrant-pink {
    background-color: var(--vibrant-pink);
    color: white;
}

kbd img {
    height: calc(100% - 6px);
    max-height: 20px;
    max-width: calc(100% - 6px);
}