nav {
    display: flex;
    justify-content: space-between;
    padding: 12px clamp(32px, 16vw, 70px) 0;
    background-color: var(--dark-blue);
    width: calc(clamp(320px, 100vw, 440px)); /* same width as the phone width */
    height: 90px;
    bottom: 0;
    position: fixed;
    z-index: 999;
}

nav .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: auto;
    color: var(--pale-purple);
    font-size: 15px;
}

nav .menu-item--active {
    text-decoration: underline solid var(--pale-purple);
    -webkit-text-decoration: underline solid var(--pale-purple);
    text-underline-offset: 7px;
    -webkit-underline-offset: 7px;
}

nav .menu-item .menu-icon-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}