.note-entry {
    background-color: white;
    padding: 16px 0;
    border-radius: 18px;
    position: relative;
}

.note-entry .note-title {
    padding: 0 16px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -4px; /* makes the actual text align to the corner accounting for line height */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.note-entry .note-preview {
    position: relative;
    margin-top: 4px;
    /* 4px margin-top of .note-preview
     * + the -4px top of .note-title 
     * + 26px line height of .note-title 
     * = 10px gap between .note-title and .note-preview */
    padding: 0 16px; 
    font-size: 14px;
    line-height: 22px;
    max-height: 72px;
    overflow: hidden;
}

.note-preview ol, ul {
    padding-inline-start: 18px;
}

.note-preview input[type="checkbox"] {
    display: none;
}

.note-preview label {
    position: relative;
    padding-left: 25px;
    pointer-events: none;
}

.note-preview label::before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 17px;
    outline: solid 1px var(--dark-gray);
    outline-offset: -1px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5px 0;
}

.note-preview label:has(input[type="checkbox"]:checked) {
    color: var(--black-40-hex);
    text-decoration: line-through;
}

.note-preview label:has(input[type="checkbox"]:checked)::before {
    content: url("../assets/checkmark-small.svg");
    color: white;
    line-height: 17px;
    text-align: center;
    outline: none;
    outline-offset: 0;
    background-color: var(--vibrant-pink);
}

.note-preview img {
    width: 100%;
}

.note-entry .time {
    font-size: 11px;
    line-height: 11px;
    margin-top: 14px;
    margin-left: 16px;
    color: var(--black-65-hex);
}

.note-entry .stars {
    position: absolute;
    bottom: 10px;
    right: 10px;
}