.note-entry {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.note-entry .note-title {
    width: calc(100% - 20px);
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: -3px;
    padding-bottom: 7px;
}

.note-entry .stars {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;
    gap: 3px;
}

.note-entry .note-preview {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 0px;
    width: calc(100% - 20px);
    max-width: calc(clamp(320px, 100vw, 440px) - (4 * 20px));
    max-height: 80px;
    overflow: hidden;
}

.note-preview ol, ul {
    padding-left: 20px;
}

.note-preview input[type="checkbox"] {
    display: none;
}

.note-preview label {
    position: relative;
    padding-left: 25px;
    pointer-events: none;
}

.note-preview label::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 18px;
    outline: solid 1px var(--dark-gray);
    outline-offset: -1px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5px 0;
}

.note-preview label:has(input[type="checkbox"]:checked) {
    color: var(--black-40-hex);
    text-decoration: line-through;
}

.note-preview label:has(input[type="checkbox"]:checked)::before {
    content: "✓";
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    outline: none;
    outline-offset: 0;
    background-color: var(--vibrant-pink);
}

.note-entry .time {
    font-size: 13px;
    line-height: 13px;
    padding-top: 15px;
}