#note-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 100%;
    transition: transform 750ms ease;
    transform: translateX(0);
    z-index: 10000;
}

#note-page.active {
    transform: translateX(-100%);
}

.note-page-header {
    background-color: pink;
    padding: 18px 18px 8px;
}

.back-btn {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}