.notes-list {
  position: fixed;
  top: 51px; /* offset header */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 18px 18px;
  width: 100%;
  height: calc(100% - 78px - 51px); /* offset nav and header */
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  background-color: var(--pale-purple);
  scrollbar-width: none; /* hides scrollbar */
  -ms-overflow-style: none; /* hides scrollbar in IE 10+ */
}

/* For Webkit browsers (Chrome, Safari) */
.notes-list::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional, just makes it invisible */
}