#note-page {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 24px 32px 24px 24px;
    background-color: white;
    top: 0;
    left: 100%;
    transition: transform 750ms ease;
    transform: translateX(0);
    z-index: 10000;
}

#note-page.active {
    transform: translateX(-100%);
}

.note-page-header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.back-btn {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

#note-page h2 {
    margin: 10px 0;
}

#note-page time {
    font-size: 13px;
    line-height: 13px;
}

#note-content {
    margin-top: 25px;
}

#note-content ol, #note-content ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#note-content img {
    width: 100%;
}