.note-entry {
    background-color: white;
    padding: 1.25rem;
    border-radius: 1.375rem;
    position: relative;
}

.note-entry .note-title {
    width: calc(100% - 1.25rem);
    font-size: 1.063rem;
    line-height: 1.438rem;
    padding-bottom: 0.938rem;
}

.note-entry .stars {
    display: flex;
    position: absolute;
    bottom: 1.063rem;
    right: 0.938rem;
    gap: 0.188rem;
}

.note-entry .note-preview {
    font-size: 0.938rem;
    line-height: 1.313rem;
    width: calc(100% - 1.25rem);
    max-width: calc(clamp(320px, 100vw, 440px) - 1.25rem - 1.25rem - 1.25rem - 1.25rem);
}

.note-preview ol {
    padding-inline-start: 1.25rem;
}

.note-entry .time {
    font-size: 0.813rem;
    line-height: 0.813rem;
    padding-top: calc(0.938rem + (1.438rem - 1.063rem) / 2);
}