.search-bar {
    width: 100%;
    z-index: 1000;
}

.search-icon {
    width: auto;
    height: 17px;
    position: absolute;
    top: 24px;
    margin-left: 8px;
}

#search-input-area {
    color: var(--dark-gray);
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 24px;
    outline: solid 1px var(--black-40-hex);
    border: none;
    background-color: transparent;
    width: 100%;
    text-indent: 20px;
}

#search-input-area::placeholder {
    color: var(--black-65-hex);
    font-weight: 600;
}

#search-input-area:focus {
    background-color: white;
    outline: solid 1.5px var(--vibrant-pink);
    outline-offset: 0.25px;
    caret-color: var(--vibrant-pink);
}

#search-input-area:focus::placeholder {
    color: var(--black-40-hex);
}

.clear-search-btn {
    display: none; /* initially hidden */
    position: absolute;
    top: 26px;
    right: 28px;
    width: 13px;
    height: 13px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.clear-search-btn img {
    width: 13px;
    height: 13px;
}