.search-bar {
    width: 100%;
    z-index: 1000;
}

.search-icon {
    width: auto;
    height: 17px;
    position: absolute;
    top: 24px;
    left: auto;
    margin-left: 8px;
}

#search-input-area {
    color: var(--dark-gray);
    padding: 6px 12px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 24px;
    outline: solid 1px var(--black-40-hex);
    border: none;
    background-color: transparent;
    width: 100%;
    text-indent: 20px;
}

#search-input-area::placeholder {
    color: var(--black-65-hex);
    font-weight: 600;
}

#search-input-area:focus {
    background-color: white;
    outline: solid 1.5px var(--vibrant-pink);
    outline-offset: 0.25px;
    caret-color: var(--vibrant-pink);
}