.stars {
    display: flex;
}

.stars > img {
    transform: scale(75%);
    margin-left: -2px;
}

.stars.note-editor > img {
    transform: scale(85%);
    margin-left: 2px;
}

.stars.note-editor > img:hover {
    cursor: pointer;
}