#root {
  background-color: var(--pale-purple);
  overflow-y: scroll;
  scrollbar-width: none; /* hides scrollbar */
  -ms-overflow-style: none; /* hides scrollbar in IE 10+ */
}

/* For Webkit browsers (Chrome, Safari) */
#root::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional, just makes it invisible */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header .header-content {
  padding: 18px 18px 8px;
  width: 100%;
  display: flex;
  background-color: var(--pale-purple);
}

.header .header-content h1.page-title {
  font-weight: 400;
  line-height: 20px;
  font-size: 20px;
  margin-right: 16px;
  margin-top: 4px;
}

.header .corner-coverings {
  padding: 0 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .corner-coverings .corner {
  width: 16px;
  height: auto;
}

#screen-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  opacity: 10%;
  display: none;
}